


{% extends "bootstrap/base.html" %}
{% block title %}Play With Flask{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
             data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Play With Flask</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">Home</a></li>
            </ul>
		
   		 {% if g.user %}
		  <ul class="nav navbar-nav">
      			<li><span>{{ g.user['username'] }}</span>
     		 	<li><a href="{{ url_for('auth.logout') }}">Log Out</a>
		</ul>
    		{% else %}
		<ul class="nav navbar-nav">
     		 	<li><a href="{{ url_for('auth.register') }}">Register</a>
		</ul>
		<ul class="nav navbar-nav">
      			<li><a href="{{ url_for('auth.login') }}">Log In</a>
		</ul>
		<ul class="nav navbar-nav">
			<li><a href = "{{url_for('auth.glogin')}}">Google Login </a>
		</ul>
   		 {% endif %}
		
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    {% block page_content %}
	{% for message in get_flashed_messages() %}
    		<div class="flash">{{ message }}</div>
  	{% endfor %}
    {% endblock %}
</div>
{% if g.user %}
        <p> welcome {{g.user['username']}}</p>
        <p> token: {{session['token']}} </p>
{% endif %}

{% endblock %}



